body
{
	width:1200px;
	margin:0 auto;
}

h1
{
	font-size:70px;
}
h2
{
	font-size:40px;
}
h3, h4, h5, h6
{
	font-size:30px;
}

article
{
	padding:0 5px 5px 5px;
	margin-bottom:10px;
}
article:hover
{
	background-color:#fafafa;
}

header#header_siteheader_id
{}
header#header_siteheader_id h1
{
}
header#header_siteheader_id h1 a
{
	text-decoration:none;
}
header#header_siteheader_id h1 a:hover
{
	text-decoration:underline;
}
header#header_siteheader_id nav#nav_headermenu_id
{
	float:right;
	position:relative;
	top:-58px;
}
header#header_siteheader_id nav#nav_headermenu_id ul
{
	display:inline-block; /*may not be needed?*/
	margin-bottom:-4px; /*remove margin bottom made by inline-block*/
	/*
	background-color:#fbbfbb;
	*/
}
header#header_siteheader_id nav#nav_headermenu_id ul li
{
	float:left;
	position:relative;
	text-align:center;
	width:130px;
	height:40px;
	line-height:40px;
	background-color:#ececec;
	margin:0 0 0 5px;
}
header#header_siteheader_id nav#nav_headermenu_id ul li a
{
	display:block;
	text-decoration:none;
}
header#header_siteheader_id nav#nav_headermenu_id ul li a:hover
{
	background-color:#f7f7f7;
}
header#header_siteheader_id nav#nav_headermenu_id ul li ul
{
	display:none;
	position:absolute;
	margin:0px;
	top:100%;
	right:0px;
}
header#header_siteheader_id nav#nav_headermenu_id ul ul ul
{
	top:0;
	right:100%
}
header#header_siteheader_id nav#nav_headermenu_id ul li:hover > ul
{
	display:block;
}

main
{}
main nav#nav_mainmenu_id
{
	float:left;
	width:200px;
}
main nav#nav_mainmenu_id ul
{
	display:inline-block; /*may not be needed?*/
	width:200px;
}
main nav#nav_mainmenu_id ul li
{
	position:relative;
	width:140px;
	background-color:#ececec;
	text-align:center;
	line-height:40px;
	height:40px;
	/*
	margin-top:5px;
	*/
}
main nav#nav_mainmenu_id ul li a
{
	display:block;
	text-decoration:none;
}
main nav#nav_mainmenu_id ul li a:hover
{
	background-color:#f7f7f7;
}
main nav#nav_mainmenu_id ul li ul
{
	position:absolute;
	left:100%;
	top:0px;
	display:none;
	margin:0px;
}
main nav#nav_mainmenu_id ul li:hover > ul
{
	display:block;
}

main section#section_mainarticles_id
{
	float:right;
	width:1000px;
}
main section#section_mainarticles_id header
{}
main section#section_mainarticles_id header h2
{}
main section#section_mainarticles_id article.article_featuredarticlepreview_cls
{}
main section#section_mainarticles_id article.article_featuredarticlepreview_cls header
{}
main section#section_mainarticles_id article.article_featuredarticlepreview_cls header h3
{}
main section#section_mainarticles_id article.article_featuredarticlepreview_cls p
{}
main section#section_mainarticles_id article.article_featuredarticlepreview_cls a
{}

main section#section_mainarticles_id article.article_articlepreview_cls
{
	float:left;
	width:500px;
}
main section#section_mainarticles_id article.article_articlepreview_cls header
{}
main section#section_mainarticles_id article.article_articlepreview_cls header h3
{}
main section#section_mainarticles_id article.article_articlepreview_cls p
{}
main section#section_mainarticles_id article.article_articlepreview_cls a
{}

footer
{}
footer p
{}














