/*
Theme Name: Great Game Reviews
Author: Jan Michael Cheng
Author URI: http://trusted-freelancer.com/
Description: Simple Magazine Theme.
Version: 1.0
*/

@font-face 
{ 
	font-family: 'MyriadPro_Regular_IE'; 
	src: url('fonts/MyriadPro-Regular.eot'); 
}
@font-face 
{ 
	font-family: 'MyriadPro_BoldCond_IE'; 
	src: url('fonts/MyriadPro-BoldCond.eot'); 
}
@font-face 
{ 
	font-family: 'MyriadPro_BoldCondIt_IE'; 
	src: url('fonts/MyriadPro-BoldCondIt.eot'); 
}
@font-face 
{ 
	font-family: 'MyriadPro_Regular'; 
	src: url('fonts/MyriadPro-Regular.otf'); 
}
@font-face 
{ 
	font-family: 'MyriadPro_BoldCond'; 
	src: url('fonts/MyriadPro-BoldCond.otf'); 
}
@font-face 
{ 
	font-family: 'MyriadPro_BoldCondIt'; 
	src: url('fonts/MyriadPro-BoldCondIt.otf'); 
}



/*----------------------------------------------------------------------------*/

body
{
	width:1068px;
	font-family:MyriadPro_Regular;
	background:#fbfbfb;
}
body.msie
{
	font-family:Helvetica;
}
.clearfix
{
	clear:both;
}

div#iddiv_maindrop_1
{
	background:white;
}

/*----------------------------------------------------------------------------*/

header#idheader_mainheader_1
{
	margin-bottom:15px;
}
header#idheader_mainheader_1 div#iddiv_headerdrop_1
{
	background:#111111;
	height:17px;
	margin:0 0 40px 0;
}
header#idheader_mainheader_1 h1#idh1_mainbanner_1
{
	float:left;
	line-height:30px;
}
header#idheader_mainheader_1 h1#idh1_mainbanner_1 a
{
	text-decoration:none;
	font-family:MyriadPro_BoldCond;
	font-size:18px;
	background:#ee1c24 url('images/logo-bg-1.png') no-repeat 0% 50%;
	color:white;
	display:block;
	border-top:8px solid black;
	border-bottom:1px solid black;
	width:193px;
	height:42px;
	direction:rtl;
	text-indent:20px;
	line-height:37px;
}
.msie header#idheader_mainheader_1 h1#idh1_mainbanner_1 a
{
	font-family:MyriadPro_BoldCond_IE;
	line-height:34px;
}
header#idheader_mainheader_1 h1#idh1_mainbanner_1 a:hover
{
	background:#ff3c43 url('images/logo-bg-2.png') no-repeat 0% 50%;
}
header#idheader_mainheader_1 nav#idnav_mainmenu_1
{
	float:left;
}
header#idheader_mainheader_1 nav#idnav_mainmenu_1 ul
{}
header#idheader_mainheader_1 nav#idnav_mainmenu_1 ul li
{
	float:left;
	margin:8px 0 0 20px;
}
header#idheader_mainheader_1 nav#idnav_mainmenu_1 ul li a
{
	text-decoration:none;
	font-family:MyriadPro_BoldCond;
	font-size:18px;
	background:#e44600;
	color:white;
	display:block;
	/*
		width:150px;
	*/
	padding:0 10px;
	height:34px;
	text-align:center;
	line-height:37px;
	border-bottom:1px solid black;
}
.msie header#idheader_mainheader_1 nav#idnav_mainmenu_1 ul li a
{
	font-family:MyriadPro_BoldCond_IE;
	line-height:34px;
}
header#idheader_mainheader_1 nav#idnav_mainmenu_1 ul li a:hover
{
	background:#ff7233;
}
header#idheader_mainheader_1 section#idsection_headpromotions_1
{}
header#idheader_mainheader_1 section#idsection_headpromotions_1 div.clsdiv_ga728x90holder_1
{
	float:left;
	width:728px;
	height:90px;
}
header#idheader_mainheader_1 section#idsection_headpromotions_1 div.clsdiv_imagerotator_1
{
	float:left;
	width:329px;
	height:90px;
	margin-left:11px;
}

/* update start - 9/13/14 */	
header#idheader_mainheader_2
{
	background-color:#ee1c24;
	margin-bottom:15px;
}
header#idheader_mainheader_2 div#iddiv_headerdrop_2
{
	width:929px;
	float:left;
	background:url('images/logo-bg-3.jpg') no-repeat 0% 50%;
}
header#idheader_mainheader_2 h1#idh1_mainbanner_2
{
	display:inline-block;
	margin-left:37px;
}
header#idheader_mainheader_2 h1#idh1_mainbanner_2 a
{
	text-decoration:underline;
	font-family:Myriadpro_BoldCondIt;
	font-size:120px;
	color:white;
	text-transform: uppercase;
}
.msie header#idheader_mainheader_2 h1#idh1_mainbanner_2 a
{
	font-family:MyriadPro_BoldCondIt_IE;
}
header#idheader_mainheader_2 p#idp_mainbannersubtitle_1
{
	display:inline-block;
	font-family:MyriadPro_BoldCond;
	font-size:40px;
	color:#ffca5b;
	margin:0 0 15px 37px;
}
.msie header#idheader_mainheader_2 p#idp_mainbannersubtitle_1
{
	font-family:MyriadPro_BoldCond_IE;
}
header#idheader_mainheader_2 section#idsection_headerissuedate_1
{
	float:right;
	width:138px;
	height:221px;
	background-color:black;
	display:table;
}
header#idheader_mainheader_2 section#idsection_headerissuedate_1 p
{
	color:white;
	text-transform:uppercase;
	font-family:MyriadPro_BoldCond;
	font-size:40px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.msie header#idheader_mainheader_2 section#idsection_headerissuedate_1 p
{
	font-family:MyriadPro_BoldCond_IE;
}
header#idheader_mainheader_2 section#idsection_headerissuedate_1 p span.red
{
	color:#ee1c24;
}
/* update end - 9/13/14 */	

/*----------------------------------------------------------------------------*/

main
{
	background:#ececec;
	width:728px;
	float:left;
	margin-bottom:15px;
}
main section.clssection_gamearticle_1
{}
main section.clssection_gamearticle_1 article#idarticle_article_1
{
	background:white;
	width:364px;
	float:left;
	margin:10px 0;
}
main section.clssection_gamearticle_1 article#idarticle_article_1 header
{
	margin:0 auto;
	margin-bottom:15px;
	margin-top:15px;
	width:344px;
}
main section.clssection_gamearticle_1 article#idarticle_article_1 header h1
{
	font-family:MyriadPro_BoldCond;
	font-size:60px;	
}
.msie main section.clssection_gamearticle_1 article#idarticle_article_1 header h1
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gamearticle_1 article#idarticle_article_1 header h1 a
{
	text-decoration:none;
	color:black;
}
main section.clssection_gamearticle_1 article#idarticle_article_1 header p
{
	font-family:MyriadPro_BoldCond;
	font-size:30px;
	color:#ee1c24;
	text-indent:40px;
}
.msie main section.clssection_gamearticle_1 article#idarticle_article_1 header p
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gamearticle_1 article#idarticle_article_1 header span.clsspan_articledate_1
{
	display:block;
	font-family:MyriadPro_BoldCond;
}
.msie main section.clssection_gamearticle_1 article#idarticle_article_1 header span.clsspan_articledate_1
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gamearticle_1 article#idarticle_article_1 p
{
	font-size:14px;
	width:344px;
	margin:0 auto;
	margin-bottom:10px;
}
main section.clssection_gamearticle_1 article#idarticle_article_1 h2
{
	font-family:MyriadPro_BoldCond;
	font-size:28px;
	margin-bottom:10px;
	width:344px;
	margin:0 auto;
}
.msie main section.clssection_gamearticle_1 article#idarticle_article_1 h2
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gamearticle_1 article#idarticle_article_1 h3
{
	font-family:MyriadPro_BoldCond;
	font-size:25px;
	margin-bottom:10px;
	width:344px;
	margin:0 auto;
}
.msie main section.clssection_gamearticle_1 article#idarticle_article_1 h3
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gamearticle_1 article#idarticle_article_1 h4
{
	font-family:MyriadPro_BoldCond;
	font-size:22px;
	margin-bottom:10px;
	width:344px;
	margin:0 auto;
}
.msie main section.clssection_gamearticle_1 article#idarticle_article_1 h4
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gamearticle_1 article#idarticle_article_1 h5
{
	font-family:MyriadPro_BoldCond;
	font-size:22px;
	margin-bottom:10px;
	width:344px;
	margin:0 auto;
}
.msie main section.clssection_gamearticle_1 article#idarticle_article_1 h5
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gamearticle_1 article#idarticle_article_1 h6
{
	font-family:MyriadPro_BoldCond;
	font-size:22px;
	margin-bottom:10px;
	width:344px;
	margin:0 auto;
}
.msie main section.clssection_gamearticle_1 article#idarticle_article_1 h6
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gamearticle_1 article#idarticle_article_1 a.clsa_articleimage_1
{
	display:block;
	width:344px;
	margin:0 auto;
	margin-bottom:10px;
}
main section.clssection_gamearticle_1 article#idarticle_article_1 a.clsa_articleimage_1 img
{}
main section.clssection_gamearticle_1 article#idarticle_article_1 div.clsdiv_ga336x280holder_1
{
	width:344px;
	margin:0 auto;
	margin-bottom:10px;
}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1
{
	width:364px;
	float:left;
}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section#idsection_gameinfo_1
{
	width:336px;
	margin:0 auto;
	margin-top:15px;
	margin-bottom:15px;
}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section#idsection_gameinfo_1 header
{}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section#idsection_gameinfo_1 header h3
{
	font-family:MyriadPro_BoldCond;
	font-size:30px;
	display:inline-block;
	background:#ee1c24;
	color:white;
	padding:0px 4px;
	margin:0 0 10px 0;
	text-transform: uppercase;
	padding-top:7px;
}
.msie main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section#idsection_gameinfo_1 header h3
{
	font-family:MyriadPro_BoldCond_IE;
	padding-top:0px;
}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section#idsection_gameinfo_1 table
{
	font-size:14px;
	width:100%;	
}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section#idsection_gameinfo_1 tr
{}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section#idsection_gameinfo_1 tr td
{
	border:1px solid #111111;
	width:50%;
	padding:0 5px;
	padding-top:3px;
}
.msie main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section#idsection_gameinfo_1 tr td
{
	padding-top:0px;
}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section.clssection_gamerelated_1
{
	width:336px;
	margin:0 auto;
	margin-top:15px;
	margin-bottom:15px;
}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section.clssection_gamerelated_1 header
{}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section.clssection_gamerelated_1 header h3
{
	font-family:MyriadPro_BoldCond;
	font-size:30px;
	display:inline-block;
	background:#ee1c24;
	color:white;
	padding:0px 4px;
	margin:0 0 10px 0;
	text-transform: uppercase;
	padding-top:7px;
}
.msie main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section.clssection_gamerelated_1 header h3
{
	font-family:MyriadPro_BoldCond_IE;
	padding-top:0px;
}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section.clssection_gamerelated_1 article.clsarticle_gameportallink_1
{
	margin:0 0 5px 0;
}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section.clssection_gamerelated_1 article.clsarticle_gameportallink_1 div.clsdiv_gameportalimage_1
{
	float:left;
	margin:0 10px 0 0;
}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section.clssection_gamerelated_1 article.clsarticle_gameportallink_1 div.clsdiv_gameportalimage_1 a
{}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section.clssection_gamerelated_1 article.clsarticle_gameportallink_1 div.clsdiv_gameportalimage_1 a img
{
	width:100px;
	height:100px;
}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section.clssection_gamerelated_1 article.clsarticle_gameportallink_1 h4
{
	font-family:MyriadPro_BoldCond;
	font-size:20px;
}
.msie main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section.clssection_gamerelated_1 article.clsarticle_gameportallink_1 h4
{
	font-family:MyriadPro_BoldCond_IE;
	font-size:20px;
}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section.clssection_gamerelated_1 article.clsarticle_gameportallink_1 h4 a
{
	color:black;
	text-decoration:none;
}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section.clssection_gamerelated_1 article.clsarticle_gameportallink_1 h4 a:hover
{
	color:#ee1c24;
	text-decoration:underline;
}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section.clssection_gamerelated_1 article.clsarticle_gameportallink_1 p
{
	font-size:14px;
}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section.clssection_gamerelated_1 article.clsarticle_gameportallink_1 a.clsa_gameportalreadmore_1
{
	text-decoration:none;
	color:#ee1c24;
	font-size:14px;
}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 section.clssection_gamerelated_1 article.clsarticle_gameportallink_1 a.clsa_gameportalreadmore_1:hover
{
	text-decoration:underline;
}
main section.clssection_gamearticle_1 aside#idaside_articleaside_1 div.clsdiv_ga336x280holder_1
{
	width:336px;
	height:280px;
	margin:0 auto;
	margin-top:15px;
	margin-bottom:15px;
}


main section.clssection_gamelist_1
{}
main section.clssection_gamelist_1 header
{
	width:700px;
	margin:15px auto;
}
main section.clssection_gamelist_1 header h1
{
	display:inline-block;
	font-family:MyriadPro_BoldCond;
	font-size:30px;
	color:white;
	background:#ee1c24;
	padding:0px 5px;
	text-transform: uppercase;
	padding-top:7px;
}
.msie main section.clssection_gamelist_1 header h1
{
	font-family:MyriadPro_BoldCond_IE;
	padding-top:0px;
}
main section.clssection_gamelist_1 header h1 a
{
	text-decoration:none;
	color:white;
}
main section.clssection_gamelist_1 p
{
	background:white;
	width:700px;
	margin:0 auto;
	margin-bottom:15px;
	text-indent:50px;
	padding:15px;
	font-size:14px;
}
main section.clssection_gamelist_1 article.clsarticle_game_1
{
	float:left;
	width:336px;
	background:white;
	margin:0 14px;
	margin-bottom:30px;
}
main section.clssection_gamelist_1 article.clsarticle_game_1 div.clsdiv_gameimage_1
{}
main section.clssection_gamelist_1 article.clsarticle_game_1 div.clsdiv_gameimage_1 a
{
	display:block;
	width:336px;
	height:280px;
}
main section.clssection_gamelist_1 article.clsarticle_game_1 div.clsdiv_gameimage_1 a img
{
	width:336px;
	height:280px;
}
main section.clssection_gamelist_1 article.clsarticle_game_1 h2
{}
main section.clssection_gamelist_1 article.clsarticle_game_1 h2 a
{
	text-decoration:none;
	font-family:MyriadPro_BoldCond;
	margin:2px 11px;
	display:block;
	color:black;
}
.msie main section.clssection_gamelist_1 article.clsarticle_game_1 h2 a
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gamelist_1 article.clsarticle_game_1 h2 a:hover
{
	color:#ee1c24;
}
main section.clssection_gamelist_1 nav.clsnav_gamelistpaging_1
{
	background:#ee1c24;
	height:33px;
	float:right;
	margin:0 15px 15px 0;
}
main section.clssection_gamelist_1 nav.clsnav_gamelistpaging_1 ul
{
	margin:0 10px;
}
main section.clssection_gamelist_1 nav.clsnav_gamelistpaging_1 ul li
{
	float:left;
	margin:0 4px;
	line-height:37px;
}
.msie main section.clssection_gamelist_1 nav.clsnav_gamelistpaging_1 ul li
{
	line-height:32px;
}

main section.clssection_gamelist_1 nav.clsnav_gamelistpaging_1 ul li a
{
	text-decoration:none;
	color:white;
	line-height:33px;
	font-size:18px;
	font-family:MyriadPro_BoldCond;
}
main section.clssection_gamelist_1 nav.clsnav_gamelistpaging_1 ul li span
{
	text-decoration:none;
	color:white;
	line-height:33px;
	font-size:18px;
	font-family:MyriadPro_BoldCond;
}
.msie main section.clssection_gamelist_1 nav.clsnav_gamelistpaging_1 ul li a
{
	font-family:MyriadPro_BoldCond_IE;
}
.msie main section.clssection_gamelist_1 nav.clsnav_gamelistpaging_1 ul li span
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gamelist_1 nav.clsnav_gamelistpaging_1 ul li a:hover
{
	color:#ffca5b;
	text-decoration:underline;
}
main section.clssection_gamelist_1 nav.clsnav_gamelistpaging_1 ul li a.active
{
	color:#ffca5b;
	text-decoration:none;
	cursor:default;
}
main section.clssection_gamelist_1 nav.clsnav_gamelistpaging_1 ul li span.current
{
	color:#ffca5b;
	text-decoration:none;
	cursor:default;
}


main section.clssection_gameguide_1
{}
main section.clssection_gameguide_1 article#idarticle_article_2
{
	background:white;
	margin:10px;
}
main section.clssection_gameguide_1 article#idarticle_article_2 header
{
	margin:0 auto;
	margin-bottom:15px;
	margin-top:15px;
	width:690px;
}
main section.clssection_gameguide_1 article#idarticle_article_2 header h1
{
	font-family:MyriadPro_BoldCond;
	font-size:60px;	
}
.msie main section.clssection_gameguide_1 article#idarticle_article_2 header h1
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gameguide_1 article#idarticle_article_2 header h1 a
{
	text-decoration:none;
	color:black;
}
main section.clssection_gameguide_1 article#idarticle_article_2 header p
{
	font-family:MyriadPro_BoldCond;
	font-size:30px;
	color:#ee1c24;
	margin:0 0 10px 0;
}
.msie main section.clssection_gameguide_1 article#idarticle_article_2 header p
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gameguide_1 article#idarticle_article_2 header span.clsspan_articledate_2
{
	display:block;
	font-family:MyriadPro_BoldCond;
}
.msie main section.clssection_gameguide_1 article#idarticle_article_2 header span.clsspan_articledate_2
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gameguide_1 article#idarticle_article_2 p
{
	font-size:14px;
	margin:0 10px 10px 10px;
}
main section.clssection_gameguide_1 article#idarticle_article_2 h2
{
	font-family:MyriadPro_BoldCond;
	font-size:28px;
	margin:0 0 10px 10px;
}
.msie main section.clssection_gameguide_1 article#idarticle_article_2 h2
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gameguide_1 article#idarticle_article_2 h3
{
	font-family:MyriadPro_BoldCond;
	font-size:25px;
	margin:0 0 10px 10px;
}
.msie main section.clssection_gameguide_1 article#idarticle_article_2 h3
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gameguide_1 article#idarticle_article_2 h4
{
	font-family:MyriadPro_BoldCond;
	font-size:22px;
	margin:0 0 10px 10px;
}
.msie main section.clssection_gameguide_1 article#idarticle_article_2 h4
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gameguide_1 article#idarticle_article_2 h5
{
	font-family:MyriadPro_BoldCond;
	font-size:22px;
	margin:0 0 10px 10px;
}
.msie main section.clssection_gameguide_1 article#idarticle_article_2 h5
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gameguide_1 article#idarticle_article_2 h6
{
	font-family:MyriadPro_BoldCond;
	font-size:22px;
	margin:0 0 10px 10px;
}
.msie main section.clssection_gameguide_1 article#idarticle_article_2 h6
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gameguide_1 article#idarticle_article_2 a.clsa_articleimage_2
{
	display:block;
	width:344px;
	margin:0 10px 10px 10px;
	float:left;
}
main section.clssection_gameguide_1 article#idarticle_article_2 a.clsa_articleimage_2 img
{}
main section.clssection_gameguide_1 article#idarticle_article_2 div.clsdiv_ga336x280holder_2
{
	width:344px;
	margin:0 0 10px 10px;
	float:left;
}

main section.clssection_gameguiderelated_1
{
	background:white;
	margin:10px;
	padding-top:1px;
}
main section.clssection_gameguiderelated_1 header
{
	margin:15px 0 15px 10px;
	display:inline-block;
}
main section.clssection_gameguiderelated_1 header h3
{
	font-family: MyriadPro_BoldCond;
	font-size: 30px;
	background: #ee1c24;
	color: white;
	padding: 0px 4px;
	text-transform: uppercase;
	padding-top: 7px;
}
.msie main section.clssection_gameguiderelated_1 header h3
{
	font-family: MyriadPro_BoldCond_IE;
	padding-top:0px;
}
main section.clssection_gameguiderelated_1 article.clsarticle_gameguideportallink_1
{
	float:left;
	width:333px;
	margin:0 10px;
	margin-bottom:20px;
}
main section.clssection_gameguiderelated_1 article.clsarticle_gameguideportallink_1 div.clsdiv_gameguideportalimage_1
{
	float:left;
	margin-right:10px;
}
main section.clssection_gameguiderelated_1 article.clsarticle_gameguideportallink_1 div.clsdiv_gameguideportalimage_1 a
{}
main section.clssection_gameguiderelated_1 article.clsarticle_gameguideportallink_1 div.clsdiv_gameguideportalimage_1 a img
{
	width:100px;
	height:100px;
}
main section.clssection_gameguiderelated_1 article.clsarticle_gameguideportallink_1 h4
{
	font-family:MyriadPro_BoldCond;
	font-size:20px;
}
.msie main section.clssection_gameguiderelated_1 article.clsarticle_gameguideportallink_1 h4
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_gameguiderelated_1 article.clsarticle_gameguideportallink_1 h4 a
{
	color:black;
	text-decoration:none;
}
main section.clssection_gameguiderelated_1 article.clsarticle_gameguideportallink_1 h4 a:hover
{
	color:#ee1c24;
	text-decoration:underline;
}
main section.clssection_gameguiderelated_1 article.clsarticle_gameguideportallink_1 p
{
	font-size:14px;
}
main section.clssection_gameguiderelated_1 article.clsarticle_gameguideportallink_1 a.clsa_gameguideportalreadmore_1
{
	text-decoration:none;
	color:#ee1c24;
	font-size:14px
}
main section.clssection_gameguiderelated_1 article.clsarticle_gameguideportallink_1 a.clsa_gameguideportalreadmore_1:hover
{
	text-decoration:underline;
}

/*-- update start 9/13/2014 --*/
main section.clssection_frontpagearticle_1
{}
main section.clssection_frontpagearticle_1 article#idarticle_article_3
{
	background:white;
	margin:10px;
}
main section.clssection_frontpagearticle_1 article#idarticle_article_3 header
{
	margin:0 auto;
	margin-bottom:15px;
	margin-top:15px;
	width:690px;
}
main section.clssection_frontpagearticle_1 article#idarticle_article_3 header h1
{
	font-family:MyriadPro_BoldCond;
	font-size:60px;	
}
.msie main section.clssection_frontpagearticle_1 article#idarticle_article_3 header h1
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_frontpagearticle_1 article#idarticle_article_3 header h1 a
{
	text-decoration:none;
	color:black;
}
main section.clssection_frontpagearticle_1 article#idarticle_article_3 header p
{
	font-family:MyriadPro_BoldCond;
	font-size:30px;
	color:#ee1c24;
	margin:0 0 10px 0;
}
.msie main section.clssection_frontpagearticle_1 article#idarticle_article_3 header p
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_frontpagearticle_1 article#idarticle_article_3 header span.clsspan_articledate_3
{
	display:block;
	font-family:MyriadPro_BoldCond;
}
.msie main section.clssection_frontpagearticle_1 article#idarticle_article_3 header span.clsspan_articledate_3
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_frontpagearticle_1 article#idarticle_article_3 a.clsa_articleimage_3
{
	display:block;
	width:344px;
	margin:0 10px 10px 10px;
	float:left;
}
main section.clssection_frontpagearticle_1 article#idarticle_article_3 a.clsa_articleimage_3 img
{}
main section.clssection_frontpagearticle_1 article#idarticle_article_3 p
{
	font-size:14px;
	margin:0 10px 10px 10px;
}
main section.clssection_frontpagearticle_1 article#idarticle_article_3 h2
{
	font-family:MyriadPro_BoldCond;
	font-size:28px;
	margin:0 0 10px 10px;
}
.msie main section.clssection_frontpagearticle_1 article#idarticle_article_3 h2
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_frontpagearticle_1 article#idarticle_article_3 h3
{
	font-family:MyriadPro_BoldCond;
	font-size:25px;
	margin:0 0 10px 10px;
}
.msie main section.clssection_frontpagearticle_1 article#idarticle_article_3 h3
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_frontpagearticle_1 article#idarticle_article_3 h4
{
	font-family:MyriadPro_BoldCond;
	font-size:22px;
	margin:0 0 10px 10px;
}
.msie main section.clssection_frontpagearticle_1 article#idarticle_article_3 h4
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_frontpagearticle_1 article#idarticle_article_3 h5
{
	font-family:MyriadPro_BoldCond;
	font-size:22px;
	margin:0 0 10px 10px;
}
.msie main section.clssection_frontpagearticle_1 article#idarticle_article_3 h5
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_frontpagearticle_1 article#idarticle_article_3 h6
{
	font-family:MyriadPro_BoldCond;
	font-size:22px;
	margin:0 0 10px 10px;
}
.msie main section.clssection_frontpagearticle_1 article#idarticle_article_3 h6
{
	font-family:MyriadPro_BoldCond_IE;
}

main section.clssection_frontpagerelated_1
{
	background:white;
	margin:10px;
	padding-top:1px;
}
main section.clssection_frontpagerelated_1 header
{
	margin:15px 0 15px 10px;
	display:inline-block;
}
main section.clssection_frontpagerelated_1 header h3
{
	font-family: MyriadPro_BoldCond;
	font-size: 30px;
	background: #ee1c24;
	color: white;
	padding: 0px 4px;
	text-transform: uppercase;
	padding-top: 7px;
}
.msie main section.clssection_frontpagerelated_1 header h3
{
	font-family: MyriadPro_BoldCond_IE;
	padding-top:0px;
}
main section.clssection_frontpagerelated_1 article.clsarticle_gameguideportallink_1
{
	float:left;
	width:333px;
	margin:0 10px;
	margin-bottom:20px;
}
main section.clssection_frontpagerelated_1 article.clsarticle_gameguideportallink_1 div.clsdiv_gameguideportalimage_1
{
	float:left;
	margin-right:10px;
}
main section.clssection_frontpagerelated_1 article.clsarticle_gameguideportallink_1 div.clsdiv_gameguideportalimage_1 a
{}
main section.clssection_frontpagerelated_1 article.clsarticle_gameguideportallink_1 div.clsdiv_gameguideportalimage_1 a img
{
	width:100px;
	height:100px;
}
main section.clssection_frontpagerelated_1 article.clsarticle_gameguideportallink_1 h4
{
	font-family:MyriadPro_BoldCond;
	font-size:20px;
}
.msie main section.clssection_frontpagerelated_1 article.clsarticle_gameguideportallink_1 h4
{
	font-family:MyriadPro_BoldCond_IE;
}
main section.clssection_frontpagerelated_1 article.clsarticle_gameguideportallink_1 h4 a
{
	color:black;
	text-decoration:none;
}
main section.clssection_frontpagerelated_1 article.clsarticle_gameguideportallink_1 h4 a:hover
{
	color:#ee1c24;
	text-decoration:underline;
}
main section.clssection_frontpagerelated_1 article.clsarticle_gameguideportallink_1 p
{
	font-size:14px;
}
/*-- update end 9/13/2014 --*/


/*-- update start 9/15/2014 --*/
main section#idsection_postnotfound_1
{}
main section#idsection_postnotfound_1 article
{
	background:white;
	margin:10px;
}
main section#idsection_postnotfound_1 article header
{
	margin:0 auto;
	margin-bottom:15px;
	margin-top:15px;
	width:690px;
}
main section#idsection_postnotfound_1 article header h1
{
	font-family:MyriadPro_BoldCond;
	font-size:60px;	
}
.msie main section#idsection_postnotfound_1 article header h1
{
	font-family:MyriadPro_BoldCond_IE;
}
main section#idsection_postnotfound_1 article p
{
	font-size:14px;
	margin:0 10px 15px 10px;
}
main section#idsection_postnotfound_1 article a
{
	color:#ee1c24;
	text-decoration:none;
}
main section#idsection_postnotfound_1 article a:hover
{
	color:black;
	text-decoration:underline;
}
/*-- update end 9/15/2014 --*/



/*----------------------------------------------------------------------------*/

aside.clsaside_sidebar_1
{
	background:#ececec;
	width:329px;
	float:left;
	margin-left:11px;
	padding:15px 0;
	margin-bottom:15px;
}
aside.clsaside_sidebar_1 section.clssection_related_1
{
	width:300px;
	margin:0 auto;
	margin-bottom:15px;
}
aside.clsaside_sidebar_1 section.clssection_related_1 header
{}
aside.clsaside_sidebar_1 section.clssection_related_1 header h3
{
	font-family:MyriadPro_BoldCond;
	font-size:30px;
	display:inline-block;
	background:#ee1c24;
	color:white;
	padding:0px 4px;
	margin:0 0 10px 0;
	text-transform: uppercase;
	padding-top:7px;
}
.msie aside.clsaside_sidebar_1 section.clssection_related_1 header h3
{
	font-family:MyriadPro_BoldCond_IE;
	padding-top:0px;
}
aside.clsaside_sidebar_1 section.clssection_related_1 header h3 a
{
	color:white;
	text-decoration:none;
}
aside.clsaside_sidebar_1 section.clssection_related_1 header h3 a:hover
{
	color:#ffca5b;
	text-decoration:none;
}
aside.clsaside_sidebar_1 section.clssection_related_1 article.clsarticle_relatedportallink_1
{
	margin:0 0 5px 0;
}
aside.clsaside_sidebar_1 section.clssection_related_1 article.clsarticle_relatedportallink_1 div.clsdiv_relatedportalimage_1
{
	float:left;
	margin:0 10px 0 0;
}
aside.clsaside_sidebar_1 section.clssection_related_1 article.clsarticle_relatedportallink_1 div.clsdiv_relatedportalimage_1 a
{}
aside.clsaside_sidebar_1 section.clssection_related_1 article.clsarticle_relatedportallink_1 div.clsdiv_relatedportalimage_1 a img
{
	width:100px;
	height:100px;
}
aside.clsaside_sidebar_1 section.clssection_related_1 article.clsarticle_relatedportallink_1 h4
{
	font-family:MyriadPro_BoldCond;
	font-size:20px;
}
.msie aside.clsaside_sidebar_1 section.clssection_related_1 article.clsarticle_relatedportallink_1 h4
{
	font-family:MyriadPro_BoldCond_IE;
	font-size:20px;
}
aside.clsaside_sidebar_1 section.clssection_related_1 article.clsarticle_relatedportallink_1 h4 a
{
	color:black;
	text-decoration:none;
}
aside.clsaside_sidebar_1 section.clssection_related_1 article.clsarticle_relatedportallink_1 h4 a:hover
{
	color:#ee1c24;
	text-decoration:underline;
}
aside.clsaside_sidebar_1 section.clssection_related_1 article.clsarticle_relatedportallink_1 p
{
	font-size:14px;
}
aside.clsaside_sidebar_1 section.clssection_related_1 article.clsarticle_relatedportallink_1 a.clsa_relatedportalreadmore_1
{
	text-decoration:none;
	color:#ee1c24;
	font-size:14px;
}
aside.clsaside_sidebar_1 section.clssection_related_1 article.clsarticle_relatedportallink_1 a.clsa_relatedportalreadmore_1:hover
{
	text-decoration:underline;
}
aside.clsaside_sidebar_1 div.clsdiv_ga300x250holder_1
{
	width:300px;
	margin:0 auto;
	margin-bottom:15px;
}

/*----------------------------------------------------------------------------*/

footer#idfooter_mainfooter_1
{
	background:black;
	color:white;
	height:33px;
	margin-bottom:15px;
}
footer#idfooter_mainfooter_1 p
{
	float:left;
	font-size:12px;
	line-height:35px;
	margin-left:10px;
}
footer#idfooter_mainfooter_1 a#ida_footerlogo_1
{
	float:right;
	text-decoration:none;
	color:white;
	background:#ee1c24;
	display:block;
	padding:10px 10px;
	font-size:12px;
	margin-top:-10px;
	margin-right:10px;
}



















