body
{}

body.firefox
{}
body.chrome
{}
body.msie
{}

body.firefox.firefox_v34
{
	background-color: red;
}

body[screensize_helper="screensize_768"] 
{ 
    background-color: #fecfec;
}
body[screensize_helper="screensize_640"] 
{ 
    background-color: #fecccc;
}
body[screensize_helper="screensize_540"] 
{ 
    background-color: yellow;
}
body.firefox[screensize_helper="screensize_480"] 
{ 
    background-color: green;
}
body[screensize_helper="screensize_320"] 
{ 
    background-color: blue;
}


